.search-wrapper {
    position: relative;
    width: 280px;
}

.search-wrapper input {
    width: 100%;
}

#suggestions {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 4px 0 0 0;
    background: white;
    color: #000;
    z-index: 1000;
    box-sizing: border-box;
}

#suggestions li {
    padding: 6px;
    cursor: pointer;
}

#suggestions li:hover {
    background: #eee;
}

body {
    background-color: #141414;
    color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 30px;
    background-color: #000;
}


.nav-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo {
    color: #e50914;
    font-size: 22px;
    font-weight: bold;
}


.user-menu {
    position: relative;
    cursor: pointer;
}

.username {
    font-size: 14px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #000;
    border: 1px solid #333;
    min-width: 140px;
}

.dropdown a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.dropdown a:hover {
    background-color: #333;
}

.user-menu:hover .dropdown {
    display: block;
}


.nav-center input {
    padding: 8px 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}

.nav-right a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-right .register {
    background-color: #e50914;
    padding: 8px 14px;
    border-radius: 4px;
    margin-right: 45px;
}


.content {
    margin-top: 5rem;
    padding: 30px;
}

.movie-list {
    list-style: none;
}

.movie-list li {
    padding: 10px 0;
    border-bottom: 1px solid #333;
}

a {
    text-decoration: none;
}