<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/netflix.css}">
    <title>Metflix</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}">Edit movies</a>
            </div>
        </div>

        <div class="nav-center">
            <form th:action="@{/menu}" id="form" method="post">
                <div class="search-wrapper">
                    <input type="text" id="search" name="search" autocomplete="off">
                    <ul id="suggestions"></ul>
                    <input type="hidden" id="searchType" name="type" value="PERSON">
                    <input type="hidden" id="typeForm" value="formPerson">

                </div>

            </form>
        </div>


        <div class="nav-right" th:if="${session.user == null}">
            <a href="#" id="openLogin">Login</a>
            <a href="#" id="openRegister" class="register">Register</a>
        </div>

        <div class="nav-right" th:if="${session.user != null}">
            <span th:text="${session.user}"></span>
            <a th:href="@{/logout}" class="register">Logout</a>
        </div>
    </nav>

    <form th:action="@{/persons/save}" th:object="${person}" method="post" class="formDataBase">
        <h1>Person</h1>
        <input type="hidden" th:field="*{personId}" class="formsId" />
        <label>Name</label>
        <input type="text" th:field="*{personName}" />

        <input type="submit" th:value="${person.personId} != null ? 'Update Person' : 'Create Person'">


    </form>

    <form th:if="${person.personId != null}" th:action="@{/persons/delete}" method="post" class="formDataBase">

        <input type="hidden" name="personId" th:value="${person.personId}" />

        <button type="submit" onclick="return confirm('Delete this Person?')">
            Delete
        </button>

    </form>
    <script th:src="@{/js/movies.js}"></script>
</body>

</html>