<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/netflix.css}">
    <title>Metflix</title>
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}" class="editButon">Edit movies</a>
            </div>
        </div>

        <div class="nav-center">
            <form th:action="@{/menu}" id="form" method="post">
                <div class="search-wrapper">
                    <input type="text" id="search" name="search" autocomplete="off">
                    <ul id="suggestions"></ul>
                    <input type="hidden" id="searchType" name="type" value="GENRE">
                    <input type="hidden" id="typeForm" value="formGenre">
                </div>

            </form>
        </div>


        <div class="nav-right" th:if="${session.user == null}">
            <a href="#" id="openLogin">Login</a>
            <a href="#" id="openRegister" class="register">Register</a>
        </div>

        <div class="nav-right" th:if="${session.user != null}">
            <span th:text="${session.user}"></span>
            <a th:href="@{/logout}" class="register">Logout</a>
        </div>
    </nav>


    <form th:action="@{/genre/save}" th:object="${genre}" method="post" class="formDataBase">

        <h1>Genre</h1>

        <input type="hidden" th:field="*{genreId}" class="formsId" />

        <label>Name</label>
        <input type="text" th:field="*{genreName}" />

        <input type="submit" th:value="${genre.genreId} != null ? 'Update Genre' : 'Create Genre'">
    </form>



    <form th:if="${genre.genreId != null}" th:action="@{/genre/delete}" method="post" class="formDataBase">

        <input type="hidden" name="genreId" th:value="${genre.genreId}" />

        <button type="submit" onclick="return confirm('Delete this genre?')">
            Delete
        </button>
    </form>


    <script th:src="@{/js/movies.js}"></script>

</body>

</html>