<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metflix</title>
    <link rel="stylesheet" th:href="@{/css/netflix.css}">
</head>

<body>
    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}">Edit movies</a>
            </div>
        </div>




        <div class="nav-right" th:if="${session.user == null}">
            <a href="#" id="openLogin">Login</a>
            <a href="#" id="openRegister" class="register">Register</a>
        </div>

        <div class="nav-right" th:if="${session.user != null}">
            <span th:text="${session.user}"></span>
            <a th:href="@{/logout}" class="register">Logout</a>
        </div>
    </nav>

    <main class="contentForms">
        <a th:href="@{/formMovie}"> <span class="formsData">Edit Movie</span></a>
        <a th:href="@{/formPerson}"> <span class="formsData">Edit Person</span></a>
        <a th:href="@{/formCountry}"> <span class="formsData">Edit Country</span></a>
        <a th:href="@{/formDepartment}"> <span class="formsData">Edit department</span></a>
        <a th:href="@{/formKeyword}"> <span class="formsData">Edit Keywords</span></a>
        <a th:href="@{/formGenre}"> <span class="formsData">Edit Genres</span></a>
        <a th:href="@{/formGender}"> <span class="formsData">Edit Gender</span></a>
        <a th:href="@{/formLanguage}"> <span class="formsData">Edit Language</span></a>
        <a th:href="@{/formProductionCompany}"> <span class="formsData">Edit Productions companies</span></a>
    </main>

</body>

</html>