<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metflix</title>
    <link rel="stylesheet" th:href="@{/css/netflix.css}">


</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}">Edit movies</a>

            </div>
        </div>

        <div class="nav-center">
            <form th:action="@{/menu}" id="form" method="post">
                <div class="search-wrapper">
                    <input type="text" id="search" name="search" autocomplete="off">
                    <input type="hidden" name="movieId" id="movieId">
                    <ul id="suggestions"></ul>
                </div>
                <select name="type" id="searchType">
                    <option value="MOVIE">Movie</option>
                    <option value="PERSON">Actor</option>
                    <option value="DIRECTOR">Director</option>
                    <option value="CHARACTER">Character</option>
                    <option value="GENRE">Genre</option>
                </select>
            </form>
        </div>


        <div class="nav-right">
            <a href="/login">Login</a>
            <a href="/register" class="register">Register</a>
        </div>
    </nav>

    <main class="content">
        <p th:if="${error}" th:text="${error}" class="error"></p>
        <ul th:if="${movies != null and !movies.isEmpty()}">
            <li th:each="movie : ${movies}" th:text="${movie.title}">
            </li>
        </ul>



    </main>
    <script th:src="@{/js/netflix.js}"></script>
</body>

</html>