<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metflix</title>
    <link rel="stylesheet" th:href="@{/css/netflix.css}">


</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}" class="editButon">Edit movies</a>

            </div>
        </div>

        <div class="nav-center">
            <form th:action="@{/menu}" id="form" method="post">
                <div class="search-wrapper">
                    <input type="text" id="search" name="search" autocomplete="off">
                    <input type="hidden" name="movieId" id="movieId">
                    <ul id="suggestions"></ul>
                </div>
                <select name="type" id="searchType">
                    <option value="MOVIE">Movie</option>
                    <option value="PERSON">Actor</option>
                    <option value="DIRECTOR">Director</option>
                    <option value="CHARACTER">Character</option>
                    <option value="GENRE">Genre</option>
                </select>
            </form>
        </div>


        <div class="nav-right" th:if="${session.user == null}">
            <a href="#" id="openLogin">Login</a>
            <a href="#" id="openRegister" class="register">Register</a>
        </div>

        <div class="nav-right" th:if="${session.user != null}">
            <span th:text="${session.user}"></span>
            <a th:href="@{/logout}" class="register">Logout</a>
        </div>
    </nav>

    <main class="content">
        <p th:if="${error}" th:text="${error}" class="error"></p>
        <ul th:if="${movies != null and !movies.isEmpty()}">
            <li th:each="movie : ${movies}" th:text="${movie.title}">
            </li>
        </ul>



    </main>
    <!-- login -->
    <div id="loginModal" class="modal">
        <div class="modal-box">

            <span class="close" data-close="loginModal">&times;</span>

            <h2>Login</h2>

            <form th:action="@{/login}" method="post">

                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>

            </form>
        </div>
    </div>
    <!-- registro -->
    <div id="registerModal" class="modal">
        <div class="modal-box">

            <span class="close" data-close="registerModal">&times;</span>

            <h2>Register</h2>

            <form th:action="@{/register}" method="post">

                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="passwordCheck" placeholder="Repeat Password" required>


                <button type="submit">Create account</button>

            </form>
        </div>
    </div>
    <script th:src="@{/js/netflix.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
</body>

</html>