<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metflix</title>
    <link rel="stylesheet" th:href="@{/css/netflix.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.8.1/vanilla-tilt.min.js"
        integrity="sha512-wC/cunGGDjXSl9OHUH0RuqSyW4YNLlsPwhcLxwWW1CR4OeC2E1xpcdZz2DeQkEmums41laI+eGMw95IJ15SS3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
</head>

<body>

    <nav class="navbar">
        <div class="nav-left">
            <a th:href="@{/}"> <span class="logo">METFLIX</span></a>

            <div class="edit-Movie">
                <a th:href="@{/manipulateMovie}" class="editButon">Edit movies</a>
            </div>
        </div>
        </div>

        <div class="nav-center">
            <form th:action="@{/menu}" id="form" method="post">
                <div class="search-wrapper">
                    <input type="text" id="search" name="search" autocomplete="off">
                    <input type="hidden" name="movieId" id="movieId">
                    <ul id="suggestions"></ul>
                </div>
                <select name="type" id="searchType">
                    <option value="MOVIE">Movie</option>
                    <option value="PERSON">Actor</option>
                    <option value="DIRECTOR">Director</option>
                    <option value="CHARACTER">Character</option>
                    <option value="GENRE">Genre</option>
                </select>
            </form>
        </div>



        <div class="nav-right" th:if="${session.user == null}">
            <a href="#" id="openLogin">Login</a>
            <a href="#" id="openRegister" class="register">Register</a>
        </div>

        <div class="nav-right" th:if="${session.user != null}">
            <span th:text="${session.user}"></span>
            <a th:href="@{/logout}" class="register">Logout</a>
        </div>
    </nav>

    <main class="content">
        <ul class="movie-list" th:if="${movies != null and !movies.isEmpty()}">

            <li th:each="movie : ${movies}">
                <h1 class="title" th:text="${movie.title}"></h1>


                <img class="poster" data-tilt style="width:300px; display:none; z-index: -1;">

                <form th:action="@{/movies/delete}" method="post">
                    <input type="hidden" name="movieId" th:value="${movie.movieId}">
                    <button type="submit">Delete Movie</button>
                </form>
                <p th:if="${movie.tagline != null}">
                    <em th:text="${movie.tagline}"></em>
                </p>


                <p>
                    <strong>Overview:</strong>
                    <span th:text="${movie.overview}"></span>
                </p>


                <p><strong>Release date:</strong> <span th:text="${movie.releaseDate}"></span></p>
                <p><strong>Runtime:</strong> <span th:text="${movie.runtime}"></span> min</p>
                <p><strong>Status:</strong> <span th:text="${movie.movieStatus}"></span></p>


                <p><strong>Budget:</strong> <span th:text="${movie.budget}">$</span></p>
                <p><strong>Revenue:</strong> <span th:text="${movie.revenue}">$</span></p>


                <p><strong>Popularity:</strong> <span th:text="${movie.popularity}"></span></p>
                <p>
                    <strong>Rating:</strong>
                    <span th:text="${movie.voteAverage}"></span>
                    (<span th:text="${movie.voteCount}"></span> votes)
                </p>


                <p th:if="${movie.homepage != null}">
                    <strong>Homepage:</strong>
                    <a th:href="${movie.homepage}" th:text="${movie.homepage}" target="_blank"></a>
                </p>


                <p>
                    <strong>Genres:</strong>
                    <span th:each="mg, iter : ${movie.genres}">
                        <span th:text="${mg.genre.genreName}"></span>
                        <span th:if="${!iter.last}">, </span>
                    </span>
                </p>

                <div id="containerTeams">
                    <div>
                        <strong>Cast:</strong>
                        <ul class="bodyTeams">
                            <li th:each="cast : ${movie.cast}">
                                <span th:text="${cast.person.personName}"></span>
                                —
                                <em th:text="${cast.characterName}"></em>
                            </li>
                        </ul>
                    </div>


                    <div>
                        <strong>Crew:</strong>
                        <ul class="bodyTeams">
                            <li th:each="crew : ${movie.crew}">
                                <span th:text="${crew.person.personName}"></span>
                                (
                                <span th:text="${crew.department.departmentName}"></span>
                                –
                                <span th:text="${crew.job}"></span>
                                )
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>

    </main>
    <!-- login -->
    <div id="loginModal" class="modal">
        <div class="modal-box">

            <span class="close" data-close="loginModal">&times;</span>

            <h2>Login</h2>

            <form th:action="@{/login}" method="post">

                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>

                <button type="submit">Login</button>

            </form>
        </div>
    </div>
    <!-- registro -->
    <div id="registerModal" class="modal">
        <div class="modal-box">

            <span class="close" data-close="registerModal">&times;</span>

            <h2>Register</h2>

            <form th:action="@{/register}" method="post">

                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="passwordCheck" placeholder=" Repeat Password" required>


                <button type="submit">Create account</button>

            </form>
        </div>
    </div>

    <script th:src="@{/js/netflix.js}"></script>
    <script th:src="@{/js/image.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
</body>

</html>